h1 {
    text-align: center;
    font-family: 'oswald';
    font-size: 50px;
    font-weight: 700;
}

img {
    margin-left: 190px;

}

* {
    background-color: whitesmoke;
}

p {
    font-family: 'montserrat';

}